COMPOSE_PROJECT_NAME=webapolice

POSTGRES_IMAGE=postgres:18.4
POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=webapolice_admin
POSTGRES_ADMIN_PASSWORD=alterar_localmente

ERP_DB_NAME=webapolice
ERP_DB_USER=webapolice_app
ERP_DB_PASSWORD=alterar_localmente

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.4
KEYCLOAK_PORT=8080
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak_app
KEYCLOAK_DB_PASSWORD=alterar_localmente

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=alterar_localmente

KEYCLOAK_REALM=webapolice
KEYCLOAK_WEB_CLIENT_ID=webapolice-web
KEYCLOAK_API_CLIENT_ID=webapolice-api
KEYCLOAK_API_CLIENT_SECRET=alterar_localmente
KEYCLOAK_DEV_ADMIN_USERNAME=dev.admin
KEYCLOAK_DEV_ADMIN_EMAIL=dev.admin@local.test
KEYCLOAK_DEV_ADMIN_PASSWORD=alterar_localmente

