Build started...
Build succeeded.
The Entity Framework tools version '10.0.4' is older than that of the runtime '10.0.9'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'infraestrutura') THEN
        CREATE SCHEMA infraestrutura;
    END IF;
END $EF$;
CREATE TABLE IF NOT EXISTS infraestrutura."__EFMigrationsHistory" (
    migration_id character varying(150) NOT NULL,
    product_version character varying(32) NOT NULL,
    CONSTRAINT pk___ef_migrations_history PRIMARY KEY (migration_id)
);

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM infraestrutura."__EFMigrationsHistory" WHERE "migration_id" = '20260703232441_InicialInfraestrutura') THEN
    INSERT INTO infraestrutura."__EFMigrationsHistory" (migration_id, product_version)
    VALUES ('20260703232441_InicialInfraestrutura', '10.0.9');
    END IF;
END $EF$;
COMMIT;


